/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#menu {
  margin: 0;
  width: auto;
  background-color:rgba(255,255,255,0.3);
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
}

#menu ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  height: auto;
}

#menu li {
  display: inline;
  padding: 8px;
}

#menu a {
  color: #FFF;
  padding: 10px;
  text-decoration: none;
}

#menu a:hover {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#menu li .active {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url('/static/images/face.jpg');
    background-size: cover;
    background-position: center;
    font-family: Times;
    font-weight: bold;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    margin-top:50px;
    background-color: rgba(0,0,0,0.5);
   }
  .tbl-content{
    height:600px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 15px 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 7px 7px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 10px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  tr {
    background-color:  rgba(0,0,0,0.4);
  }
  tr:nth-child(even) { 
    background-color: rgba(0,0,0,0.3);
} 

  section{
    margin: 50px;
  }

#option-notes{
  font-weight: 500;
  font-size: 10px;
  color: #fff;
}

#submit-button {
  padding-top: 10px;
  display: table;
  margin: 0 auto;
}

#submit-button input {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#submit-button input:hover {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#device-selector {
  margin-top:100px;
  background-color: rgba(0,0,0,0.5);
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  padding-top: 50px;
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.title{
    font-size:22px;
    padding-bottom:5px;
    margin-right: 50%;
    width: 100px; 
    color:#fff;
    white-space: nowrap;
}
.hr-top{
	height:2px;
	margin:10px 0 10px 0;
	background:rgba(255,255,255,.2);
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.clock{
  background: #ebebeb;
  opacity: 0.5;
  text-align: center;
  font-size: 100px;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Orbitron;
  color: black;
}