<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/styles.css') }}">

        <title>Iface Server</title>
    </head>

    <div id="menu">
            <ul>
                 <li><a href="index">Home</a></li>
                 <li><a href="test">Polling</a></li>
                 <li><a href="ifaceinformation">General.ini</a></li>
                 <li><a href="analyse">Analyse</a></li>
                 <li><a href="options">Options</a></li>
                 <li><a href="clockinfo" class="active">Clock Info</a></li>
            </ul>
    </div>


    <div id="pdf"></div>
        <iframe src="static/ZK_Terminal_Notepads.pdf" type="application/pdf"
        style="display: block; width: 80%; height: 80%; margin: 50px auto; border: 0;">
        </iframe>>
    </div>

    <body>
    </body>
</html>

