{% autoescape None %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/styles.css') }}">

        <title>Iface Server Information Page</title>
    </head>

    <div id="menu">
            <ul>
                 <li><a href="index">Home</a></li>
                 <li><a href="test">Polling</a></li>
                 <li><a href="ifaceinformation" class="active">General.ini</a></li>
                 <li><a href="analyse">Analyse</a></li>
                 <li><a href="options">Options</a></li>
                 <li><a href="clockinfo">Clock Info</a></li>
            </ul>
    </div>

    <body>
        <div class="wrapper clearfix">
            {{ data }}
        </div>

    </body>
</html>


