<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ static_url('styles.css') }}">

        <title>Iface Server</title>
    </head>

    <body>
        <div class="wrapper clearfix">
            <h><b>Ifaceserver Home Page 2 </b></h>
            <br><br>
            Please select:
            <br>
            <a href="test">Ifaceserver test page</a>
            <br>
            <a href="options">Ifaceserver Options page</a>
        </div>

    </body>
</html>

