{% autoescape None %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/styles.css') }}">

        <title>Iface Server Terminal Options</title>
    </head>

<body>
    <div class="login-wrap">
        <div class="login-html">
        <div class="login-form">
            <div class="title" >Ifaceserver Sign-In</div>
            <div class="hr-top"></div>
            <form method="POST">
            <div class="group">
                <label for="user" class="label">user</label>
                <input id="user" type="text" class="input" name="user">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" 
						data-type="password" name="pass">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
				</div>
                <div class="hr"></div>
            </form>    
        </div>
        </div> 
    </div>
</body>
</html>

