{% autoescape None %}

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1">
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/styles.css') }}">

        <title>Iface Server Time</title>
    </head>

    <div id="menu">
            <ul>
                 <li><a href="index">Home</a></li>
                 <li><a href="test">Polling</a></li>
                 <li><a href="ifaceinformation">General.ini</a></li>
                 <li><a href="analyse">Analyse</a></li>
                 <li><a href="options">Options</a></li>
                 <li><a href="clockinfo">Clock Info</a></li>
				 <li><a href="servertime" class="active">Server Time</a></li>
            </ul>
    </div>

    <body>
        <section>
        <div class="clockmain">
            <div class="clock">
                {{ timer }}
            </div>
        </div>
        </section>
        <script src="{{ static_url('js/app.js') }}" type="application/javascript"></script>  
    </body>
        </html>
